@charset "utf-8";
/* CSS Document */

/*New CSS for Accordion*/

.accordionN-header{
	margin: 0;
	padding-top: 0.4737em;
	padding-bottom: 0.4737em;
	padding-left:12px;
	position: relative;
	font-family:"UrbanoCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size:16px;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	margin-left: 10px;
	color: #005DAA;
	background-image:url(../images/shared/accordionarrow_right.png);
	background-repeat:no-repeat;
	background-position-x: -5px;
	background-position-y: 8px;
}

.accordionN-content{
	background: #ffffff;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	clear: both;
	position: relative;
	overflow: none;
}

.accordionN-header:active,.accordionN-header:visited{
	color: #005DAA;
	cursor: pointer; 
	background-image:url(../images/shared/accordionarrow_down.png);
	background-repeat:no-repeat;
	background-position-x: -3px;
	background-position-y: 8px;
 }

.accordionN-header:hover{
	cursor: pointer; color: #036;

}

#accordionN_wrapper {
overflow:none;
}

#accordioncontainerN {

}


/* a.accordionN-header:active,a.accordionN-header:visited
a.accordionN-header:hover { color: #036; text-decoration: none;}
.ui-expandable-accordion,
.no-js .accordion,
.no-js .accordion-closed,
.main .ui-accordion{
	padding: 0 10px;
	margin-bottom: 0.75em;
}

.main .accordion,
.accordion-expandable,
.accordion-closed,
.accordion-hierarchical{
	margin-bottom: 3.5em;
	position: relative;
}
.ui-expandable-accordion .ui-accordion-content{
	display: none;
}
.ui-accordion-header{
	margin: 0;
	padding-left: 16px;
	padding-top: 0.4737em;
	padding-bottom: 0.4737em;
	position: relative;
	font-family:"UrbanoCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size:16px;
}
.ie7 .rightCol .ui-accordion-header,
.ie8 .rightCol .ui-accordion-header{
	font-family:"UrbanoCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
.ui-accordion-header:focus{
	outline: none;
}
.ui-accordion-header:hover{
	cursor: pointer;
}
ul.ui-accordion-content {
	padding-left: 16px;
	padding-bottom: 0.75em;
}

.main .ui-accordion-content{
	background: #fff;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	clear: both;
	position: relative;
	overflow: hidden;
}
.main .ui-accordion-header{
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}
ul.ui-accordion-content li,
ul.ui-accordion-content li ul li{
	border-bottom: 0;
	margin-bottom: 0;
	border-top: 0;
	margin-top: 0;
}
.main .ui-accordion-content ul li,
.main .ui-accordion-content li ul li{
	background: transparent url(../images/shared/li-bullet-dark.png) 0 0 no-repeat;
	padding-left: 16px;
}
.main .ui-accordion-content ol{
	padding-left: 10px
}
.main .ui-accordion-content ol li,
.main .ui-accordion-content li ol li{
	background: transparent;
	padding-left: 0px;
}
.ui-accordion-content-active{
	overflow: visible;
}
.ie7 .ui-accordion-content-active{
	overflow: hidden !important;
	position: relative;
}
.main .ui-accordion-content h4{
	padding-left: 10px;
}
.main .ui-accordion-content .line p{
	padding-left: 0;
	padding-right: 0;
}
.ui-accordion-content table{
	margin-left: 0;
}
.accordion-content p img{
	margin-left: -10px;
	margin-right: -10px;
}
*/