/*!
*	Bizforms
*/

#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz{
	padding-right: 10px;
	background: #fff;
	height:100%;
	padding-bottom: 9px;
}

#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz table tr td label {
    display: inline;
    font-size: 93%;
    line-height: 0em;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    padding: 0 0px;
    position: relative;
}

.ErrorLabel, .EditingFormInfoLabel {
    display: block;
    font-size: 93%;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    padding: 0 10px;
    position: relative;
}
    
.EditingFormLabel { /*also noted as .feint in main.css*/
    color: #ADAFB2;
}

.EditingFormTable 
{
    margin-top: 0.75em;
}

.EditingFormErrorLabel, .ErrorLabel 
{
    color: #A50007;
}

#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz table tr{
	padding-right: 0;
}
.content-filter .unit,
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz table tr{
	position: relative;
}
.content-filter .ui-selectmenu,
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz select{
	margin-left: 10px;
	margin-right: -10px;
	margin-top:10px;
	margin-bottom:0;
	width: 228px;
}

.EditingFormLabelCell {
    width: 25%;
}

.EditingFormValueCell {
    display: table-cell;
    float: none;
    width: 75%;
}

.content-filter .ui-selectmenu-popup, 
.content-filter .ui-selectmenu-menu-popup, 
.content-filter .ui-selectmenu-menu-dropdown, 
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz a.ui-selectmenu-dropdown, 
.content-filter .ui-selectmenu-dropdown{
	background: #f1f1f1;
}
.content-filter .ui-selectmenu-dropdown,
.content-filter .ui-selectmenu-menu{
	border: 1px solid #f1f1f1;
}
.content-filter .ui-selectmenu.ui-state-active{
	border: 1px solid #e2e2e2;
}
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz input {
	border:0;
	background-color: #f1f1f1;
}
.content-filter .unit.search{
	padding:0 30px 0 10px;
}
	
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz input.search {
	width:190px;
	padding:4px 30px 4px 10px;	
	margin-left: 10px;
}
.content-filter .button {
	background-color:transparent;
	position:absolute;
	top:4px;
	right:4px;
	left: auto;
}
/* .button-link (extends a) */

#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz input.FormButton {
	background: #f1f1f1;
	border:1px solid #cccccc;
	padding:3px 6px;
	margin:10px 0 0 11px;
	float:right;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
     border-radius: 3px; 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;	
}
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz input.FormButton:hover{
	background-color: #005DAA;
	border-color: #005DAA;
	color: #fff;
}
#plc_lt_wpzMainContentWrapper_plcMainContent_plcMainContent_lt_wpzMainContent_BizForm_viewBiz input.FormButton:active{
	background-color: #036;
}
