/* BOOKSHELF START*/
.bookshelfModule {
	position:relative;
	margin-left:-10px;
}

.bookshelf {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	width:980px;
	height:477px;
	z-index:2;
	overflow:hidden;
}
.no-news .bookshelf {
	width: 840px;
}
.bookshelf a {
	color:#000000;
	text-decoration:none;
	border:0;
}
.bookshelf li{
	position:absolute;
	top:0;
	display: block;
	overflow: hidden;
	padding: 0;
	margin:0;
	width:120px;
	background: transparent;
}
.bookshelf div.contentWrap{
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
}
.bookshelf div.contentWrap div.handle{
	width:20px;
	height: 477px;
	margin: 0;
	overflow: hidden;
	background-position: 0 20px;
	background-image: url(../images/shared/bookshelf-sprite.png);
	background-repeat: no-repeat;
	cursor:pointer;
}
.bookshelf li img{	
	position: absolute;
	top:0;
	left:21px;
}

li#shelf1 {
	left:0px;
}
li#shelf2 {
	left:120px;
}
li#shelf3 {
	left:240px;
}
li#shelf4 {
	left:360px;
}
li#shelf5 {
	left:480px;
}
li#shelf6 {
	left:600px;
}
li#shelf7 {
	left:720px;
}

li#shelf1 a,
li#shelf2 a,
li#shelf3 a,
li#shelf4 a {
	color:#333333;
	border:none;
}

li#shelf1 a:hover,
li#shelf2 a:hover,
li#shelf3 a:hover,
li#shelf4 a:hover {
	color:#000000;
}
li#shelf5 a,
li#shelf6 a,
li#shelf7 a {
	color:#eeeeee;
	border:none;
}
li#shelf5 a:hover,
li#shelf6 a:hover,
li#shelf7 a:hover {
	color:#ffffff;
}





li#shelf1, li#shelf1 div.contentWrap{
	background-color:#EC9C1D;
	border-color:#EC9C1D;
	color:#896527;
}
li#shelf2, li#shelf2 div.contentWrap{
	background-color:#FFC30B;
	border-color:#FFC30B;
	color:#937B15;
}
li#shelf3, li#shelf3 div.contentWrap{
	background-color:#C0D02A;
	border-color:#C0D02A;
	color:#6F7F37;
}
li#shelf4, li#shelf4 div.contentWrap{
	background-color:#8DC63F;
	border-color:#8DC63F;
	color:#5B8229;
}
li#shelf5, li#shelf5 div.contentWrap{
	background-color:#00A94F;
	border-color:#00A94F;
	color:#AAE0A8;
}
li#shelf6, li#shelf6 div.contentWrap{
	background-color:#0093D0;
	border-color:#0093D0;
	color:#ACD9F4;
}
li#shelf7, li#shelf7 div.contentWrap{
	background-color:#005DAA;
	border-color:#005DAA;
	color:#AEC1E4;
}




/* SHELF CONTENT START */
li#shelf1 .handle{
	background-position: 0 202px;	
}
li#shelf2 .handle{
	background-position: -20px 202px;
}
li#shelf3 .handle{
	background-position: -40px 202px;
}
li#shelf4 .handle{
	background-position: -60px 202px;
}
li#shelf5 .handle{
	background-position: -80px 202px;
}
li#shelf6 .handle{
	background-position: -100px 202px;
}
li#shelf7 .handle{
	background-position: -120px 202px;
}
.shelf-label{
	position: absolute;
	bottom: 0px;
	left: 540px;
	width: 169px;
	z-index: 9;
	padding-left: 10px;
	height: 477px;
}

#shelf1 .shelf-label{
	background-image:url("../images/shared/orange80.png")
}
#shelf2 .shelf-label{
	background-image:url("../images/shared/yellow80.png")
}
#shelf3 .shelf-label{
	background-image:url("../images/shared/lemon80.png")
}
#shelf4 .shelf-label{
	background-image:url("../images/shared/green80.png")
}
#shelf5 .shelf-label{
	background-image:url("../images/shared/forest80.png")
}
#shelf6 .shelf-label{
	background-image:url("../images/shared/blue80.png")
}
#shelf7 .shelf-label{
	background-image:url("../images/shared/ocean80.png")
}
.shelf-label-liner{
	width: 143px;
	position: absolute;
	bottom: 20px;
}
.shelf-label-liner a{
	text-decoration: none;
	border-bottom: 1px solid #444444;
}
.shelf-label-liner a:hover{
	text-decoration: none;
	color: #fff;
}
/* SHELF CONTENT END */
/* BOOKSHELF END*/
/* BREAKING NEWS START */

li.breakingNews {
	position:absolute;
	top:0px;
	height:477px;
	width:140px;
	z-index:1;
	overflow:hidden;
	left:840px;
}
.breakingNewsHeadlineWrapper {
	position: absolute;
	bottom: 0;
	right:0px;
	width:140px;

	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
	
}
.breakingNews h5{
	color: #444;
}
.no-touch .breakingNews:hover .breakingNewsHeadlineWrapper{
	background: #fff;
}
.newsBody {
	position:absolute;	
	top:0px;
	height:477px;
	right:140px;
	background-color:#ffffff;
	overflow:hidden;
}

.headline {
	float: right;
	cursor:pointer;
	font-size:85%;
	width:120px;
	padding:10px;
	background: transparent url(../images/shared/mini-arrow.png) 0 9px no-repeat;
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}
.no-touch .breakingNews:hover .headline{
	background: transparent url(../images/shared/mini-arrow.png) -10px 9px no-repeat;
}

dl.news {
	position:relative;
	margin:20px 20px 0px 0px;
	left:0px;
	top:0px;
	padding:0px;
	width:680px;	
}
dl.news dt, dl.news dd{
	float:left;
	height:130px;
	overflow:hidden;
	position:relative;
}
dl.news dt img {
	position:relative;
	left:0px;
	width:180px;
	height:130px;
}
dl.news dt {
	overflow:hidden;
	padding: 10px 0px 10px 20px;
	width:180px;
}
dl.news dd {
	position:relative;
	padding:10px 10px 10px 10px;
	width:440px;
}
dl.news dd p{
	margin-top: 0;
}
dl.news dd .more {
	padding-left:10px;
	font-size:80%;
}
dl.news dd a, 
dl.news dd a:active, 
dl.news dd a:visited{
	color: #005DAA;
}
dl.news dd a:hover{
	color: #2C4460;
}
/* .news-warning (extends headline) */
.news-warning h5,
.news-warning {
	color: #CF2E00;
}
/* .news-dd-warning (extends dd) */
.news-dd-warning {
	color: #CF2E00;
}
dl.news .news-dd-warning a,
dl.news .news-dd-warning a:active,
dl.news .news-dd-warning a:visited{
	color: #A50007;
}
.news-dd-warning a:hover{
	color: #7A0005;
}
.breakingNews .news-warning{
	padding-top: 50px;
	background: transparent url(../images/shared/emergency-icon.png) 10px 10px no-repeat;
}

.no-touch .breakingNews:hover .news-warning{
	background: transparent url(../images/shared/emergency-icon.png) 10px 10px no-repeat;
}

/* BREAKING NEWS END */