/*!
*	Datepicker
*/
.ui-datepicker-inline{
	padding-left: 50px;	
}
.ie7.no-js .ui-datepicker-calendar,
.ie8.no-js .ui-datepicker-calendar,
.ie7.no-js .ui-datepicker-inline,
.ie8.no-js .ui-datepicker-inline{
	width: 210px;
	float: right;
}
.ui-datepicker-header{
	position: relative;
}
.ui-datepicker .ui-datepicker-title{
	line-height: 1.8em;
	margin: 0px 2.3em;
	text-align: center;
}
.ui-datepicker-calendar{
	border-collapse: collapse;
	font-size: 0.9em;
	margin: 0px 0px 0.4em;
	width: 100%;
}
.ui-datepicker th,
.ui-datepicker td{
	border-width:0 0 1px 0;
	border-color: #F0EFEF;
	border-style: solid;
	padding: 1px;
	vertical-align: top;
	font-size: 93%;	
	line-height: 1.5em;
	text-align: center;
	
}
.ui-datepicker td a{
	display: block;
}
.no-js .ui-datepicker td a:hover,
.no-touch .ui-datepicker td a:hover{
	background: #f1f1f1;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
	height: 1.8em;
	position: absolute;
	top: 2px;
	width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev{
	/*left:-1px;*/
	left:4px;
}
.ui-datepicker .ui-datepicker-next{
	right:-1px;
}
.ui-datepicker td.ui-datepicker-current-day{
	border-bottom: 2px solid #C9D82B;
	display: block;
}
.ui-icon-circle-triangle-w{
	background-position: -96px -64px;
}
.ui-icon-circle-triangle-e{
	background-position: -80px -64px;
}
}
.ui-icon-circle-triangle-w:hover,
.ui-icon-circle-triangle-w:hover{
	background-position: -96px -96px;
}
.no-js .ui-icon-circle-triangle-e:hover,
.no-touch .ui-icon-circle-triangle-e:hover{
	background-position: -80px -96px;
}
.date-picker-label{
	margin-left: 50px;
}