/*!
*	Header
*/
nav ul, nav li {list-style:none; list-style-image: none; }
#site-logo{
	position:absolute;
	right: 0px;
	bottom: -26px;
	width: 85px;
	height: 150px;
	z-index: 1;
}
.no-js.ie7 #site-logo,
.no-js.ie8 #site-logo{
	top:20px;
}
/* SERVICE NAV START*/
#service-nav ul{
	margin:0;
	float: left;
}
#service-nav {
	position: absolute;
	top:14px;
	left:10px;
	z-index: 4;
}

#service-nav li{
	float: left;
	margin-right: 10px;
}
#service-nav a{
	color: #666666;
	text-decoration: none;
}
.no-js.ie7 .service-menu,
.no-js.ie8 .service-menu{
	float: left;
	widows: 100%;
	clear: both;
}
.no-js.ie7 .service-menu li,
.no-js.ie8 .service-menu li{
	float: left;
	margin-right: 10px;
}
/* SERVICE NAV END*/
/* MAIN NAV START*/
.no-js.ie7 .main-navigation,
.no-js.ie8 .main-navigation,
#main-nav{
	margin:0;
	padding:0;
	width: 870px;
	position: absolute;
	bottom:0px;
	/*margin-left:-10px;*/
	z-index:2;
	
}
.no-js.ie7 .main-navigation,
.no-js.ie8 .main-navigation{
	top:75px;
	height: 144px;
}
.ie7 #main-nav{
	bottom:-10px;
}
#main-nav h4 {
	margin:0;
	font-size: 153.9%;
	line-height:0.857em;
	letter-spacing: 0.1em;
}
@-moz-document url-prefix() {
    #main-nav h4 {
        font-size: 143.9%;
    }
}

#main-nav h4{
	font-family:"UrbanoLightCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
.ie7 #main-nav h4,
.ie8 #main-nav h4{
	letter-spacing: 0;
}
.no-js.ie7 .main-navigation .nav,
.no-js.ie8 .main-navigation .nav,
#main-nav li.nav{
	float:left;
	margin:0;
	padding:0;
	left:0px;
	width: 120px;
	position: relative;
	height: 60px;
	font-size: 10px;
	z-index:0;
}
.no-js.ie7 .main-navigation .nav a.mainLink h4,
.no-js.ie8 .main-navigation .nav a.mainLink h4,
#main-nav li.nav a.mainLink h4 {
	position:absolute;
	display:block;
	bottom:7px;
}
.no-js.ie7 .main-navigation .nav a.mainLink,
.no-js.ie8 .main-navigation .nav a.mainLink,
#main-nav li.nav a.mainLink{
	text-decoration: none;
	display: block;
	border-width: 0 0 9px 0;
	border-style: solid;
	position: absolute;
	left: 0;
	width: 100px;
	height:30px;
	bottom: -9px;
	padding:10px;
	line-height:1.4em;
	color:#444;
	white-space:nowrap;
	cursor:default;
}
.no-js.ie7 .main-navigation li.active a.mainLinkk,
.no-js.ie8 .main-navigation li.active a.mainLinkk,
#main-nav li.active a.mainLink{
	background-color:#EDEDED;
	border-width: 9px 0 0 0;
	bottom:0px;
	padding-top:11px;
}
#main-nav li.active:hover a.mainLink{
	background-color:transparent;
}

/* DROP DOWN START*/
.no-js.ie7 .drop-down,
.no-js.ie8 .drop-down{
	display: none;
}

#main-nav .drop-down{
	position: absolute;
	left:0;
	height:0px;
	min-width:120px;
	max-width:970px;
	max-height:261px;
	background-image:url(../images/shared/000000x0.3.png);
	margin-top: 60px;
	overflow: hidden;
	z-index:99;
}

#main-nav .background{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:252px;
	z-index:-1;
	opacity:1;
}
/* SECTION COLORS START */
#main-nav li.dropdowntwo u{
	border-color: #D9A509;
}
#main-nav li.dropdownone u{
	border-color: #CC8718;
}
#main-nav li.dropdownthree u{
	border-color: #A4B324;
}
#main-nav li.dropdownfour u {
	border-color: #6E9931;
}
#main-nav li.dropdownone a,
#main-nav li.dropdownfour a,
#main-nav li.dropdownthree a,
#main-nav li.dropdowntwo a {
	color:#333333;
}
#main-nav li.dropdownone a:hover,
#main-nav li.dropdownfour a:hover,
#main-nav li.dropdownthree a:hover,
#main-nav li.dropdowntwo a:hover,
#main-nav li.dropdownone:hover a.mainLink h4,
#main-nav li.dropdownfour:hover a.mainLink h4,
#main-nav li.dropdownthree:hover a.mainLink h4,
#main-nav li.dropdowntwo:hover a.mainLink h4 {
	color:#000000;
}
#main-nav li.dropdownfive u{
	border-color:#00CC5F;
}
#main-nav li.dropdownsix u{
	border-color:#00A1E6;
}
#main-nav li.dropdownfive u {
	border-color:#0070CC;
}
#main-nav li.dropdownfive a,
#main-nav li.dropdownsix a,
#main-nav li.dropdownseven a {
	color:#EEEEEE;
}
#main-nav li.dropdownfive a:hover,
#main-nav li.dropdownsix a:hover,
#main-nav li.dropdownseven a:hover,
#main-nav li.dropdownfive:hover a.mainLink h4,
#main-nav li.dropdownsix:hover a.mainLink h4,
#main-nav li.dropdownseven:hover a.mainLink h4
{
	color:#ffffff;
}

/* Dropdown One */
#main-nav .mainLink:focus{
	outline:none;
}
#main-nav li.dropdownone, #main-nav li.dropdownone h5{
	color:#896527;
}
#main-nav li.dropdownone:hover,
#main-nav li.dropdownone:focus,
#main-nav li.dropdownone .drop-down .background{
	background: #EC9C1D;
}
/* Dopdown Two */
#main-nav li.dropdowntwo .drop-down{
	margin-left: -120px;
}
#main-nav li.dropdowntwo, #main-nav li.dropdowntwo h5{
	color:#937B15;
}
#main-nav li.dropdowntwo:hover,
#main-nav li.dropdowntwo a:focus,
#main-nav li.dropdowntwo .drop-down .background{
	background: #FFC30B;
}
/* Dropdown Three */
#main-nav li.dropdownthree .drop-down{
	margin-left: -240px;
}
#main-nav li.dropdownthree, #main-nav li.dropdownthree h5{
	color:#6F7F37;
}
#main-nav li.dropdownthree:hover,
#main-nav li.dropdownthree:focus,
#main-nav li.dropdownthree .drop-down .background{
	background: #C0D02A;
}

/* Dropdown Four */
#main-nav li.dropdownfour .drop-down{
	margin-left: -360px;
}
#main-nav li.dropdownfour, #main-nav li.dropdownfour h5{
	color:#5B8229;
}
#main-nav li.dropdownfour:hover,
#main-nav li.dropdownfour:focus,
#main-nav li.dropdownfour .drop-down .background{
	background: #8DC63F;
}
/* Dropdown Five */
#main-nav li.dropdownfive .drop-down{
	margin-left: -480px;
}
#main-nav li.dropdownfive, #main-nav li.dropdownfive h5{
	color:#AAE0A8;
}
#main-nav li.dropdownfive:hover,
#main-nav li.dropdownfive:focus,
#main-nav li.dropdownfive .drop-down .background{
	background: #00A94F;
}
/* Dropdown Six */
#main-nav li.dropdownsix .drop-down{
	margin-left: -600px;
}
#main-nav li.dropdownsix, #main-nav li.dropdownsix h5{
	color:#ACD9F4;
}
#main-nav li.dropdownsix:hover,
#main-nav li.dropdownsix:focus,
#main-nav li.dropdownsix .drop-down .background{
	background: #0093D0;
}
/* Dropdown Seven */
#main-nav li.dropdownseven .drop-down{
	margin-left: -720px;
}
#main-nav li.dropdownseven, #main-nav li.dropdownseven h5{
	color:#AEC1E4;
}
#main-nav li.dropdownseven:hover,
#main-nav li.dropdownseven:focus,
#main-nav li.dropdownseven .drop-down .background{
	background: #005DAA;
}
/* SECTION COLORS END */
/* DROP DOWN CONTENT START */
#main-nav a {
	text-decoration:none;
	font-size:92%;
}
#main-nav h5 a {
	font-size:100%;
}
#main-nav ul{
	margin:10px;
	padding-top:1px;
}
#main-nav ul.sub {
    margin-top:0px;
	padding-top:1px;
}
#main-nav li{
	font-size: 13px;
	margin-top:2px;
}
#main-nav li u{
	text-decoration: none;
	padding-bottom: 2px;
	border-width: 0 0 1px 0;
	border-style: solid;
	display: block;
}
/* ----- menuPromotion (extends media) ----- */
.menuPromotion {
	margin:0;
}
.menuPromotion .imgExt{
	padding:10px 10px 10px 0;	
}
.menuPromotion .bd {
	text-align:right;
	position:relative;

}
.menuPromotion .bd .body time{
	font-size:92%
}
.menuPromotion .bd .body{
	font-size:116%;
	height: 149px;
}
.menuPromotion .bd .foot{
	font-size:116%;
	width: 246px;
	padding-bottom: 10px;
}



/* DROP DOWN CONTENT END*/
/* DROP DOWN END*/
/* MAIN NAV END*/
/* HEADER END */
/* .miniSite */
#main-nav.miniSite-nav li.nav a.mainLink{
	background: #fff6cf;
	height: 0px;
	padding: 0 10px;
	overflow: hidden !important;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}
.miniSite-nav li:hover .mainLink{
	background: transparent;
}
/* miniSite-header (extends h1) */

.miniSite-header{
	border-bottom: 9px solid #FFC30B;
	background: transparent;
	position: absolute;
	bottom: 0;
	margin: 0 0 -9px 0;
	padding: 40px 0 0 10px;
	z-index: 3;
	display: block;
	width: 830px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
}

.miniSite-header a.minisitetitle
{
    color: #000000;
}

.miniSite-header-open{
	margin-bottom: 51px;
}
#main-nav.miniSite-header-open li.nav a.mainLink,
.miniSite-header-open .mainLink{
	height: 30px !important;
	padding: 11px 10px 10px 10px !important;
}
.miniSite-header-toggle{
	position: absolute;
	right: 120px;
	bottom: -27px;
	padding-left: 16px;
	font-size: 93%;
	text-decoration: none;
}
/* .miniSite-header-toggle-left (extends .miniSite-header-toggle) */
.miniSite-header-toggle-left{
	left: 0;
}
/* .miniSite-header-inline-toggle (extends a) */
.miniSite-header-inline-toggle{
	font-family:"UrbanoLightCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 50%;
	width: 110px;
	line-height: 90%;
	border-bottom: 9px solid #005DAA;	
	margin: 0 10px -9px -10px;
	padding: 2px 0 3px 10px;
	float: left;
	clear: none;
}

/* social media icons */
.social-logo-wrapper{
	position: absolute;
	right: 191px;
	top: 48px;
	z-index: 999999;
}
.social-logo-wrapper img
{
    display: inline;
    margin: 0 5px 0 0;
}