/*!
*	Accordion
*	.ui-accordion is depreciated
* 	The dual use of .ui-expandable-accordion and .ui-accordion is a legacy redundancy
*
*	After C&G discovered that all accordions should have expand / collapse toggles
*	we removed the jQuery UI accordion script altogether.
*	as of 06 July 2011, we should only be using .ui-expandable-accordion and 
*/

.ui-expandable-accordion,
.no-js .accordion,
.no-js .accordion-closed,
.main .ui-accordion{
	padding: 0 10px;
	margin-bottom: 0.75em;
}

.main .accordion,
.accordion-expandable,
.accordion-closed,
.accordion-hierarchical{
	margin-bottom: 3.5em;
	position: relative;
}
.ui-expandable-accordion .ui-accordion-content{
	display: none;
}
.ui-accordion-header{
	margin: 0;
	padding-left: 16px;
	padding-top: 0.4737em;
	padding-bottom: 0.4737em;
	position: relative;
	font-family:"UrbanoCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size:16px;
}
.ie7 .rightCol .ui-accordion-header,
.ie8 .rightCol .ui-accordion-header{
	font-family:"UrbanoCondensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
.ui-accordion-header:focus{
	outline: none;
}
.ui-accordion-header:hover{
	cursor: pointer;
}
ul.ui-accordion-content {
	padding-left: 16px;
	padding-bottom: 0.75em;
}

.main .ui-accordion-content{
	background: #fff;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	clear: both;
	position: relative;
	overflow: hidden;
}
.main .ui-accordion-header{
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}
ul.ui-accordion-content li,
ul.ui-accordion-content li ul li{
	border-bottom: 0;
	margin-bottom: 0;
	border-top: 0;
	margin-top: 0;
}
.main .ui-accordion-content ul li,
.main .ui-accordion-content li ul li{
	background: transparent url(../images/shared/li-bullet-dark.png) 0 0 no-repeat;
	padding-left: 16px;
}
.main .ui-accordion-content ol{
	padding-left: 10px
}
.main .ui-accordion-content ol li,
.main .ui-accordion-content li ol li{
	background: transparent;
	padding-left: 0px;
}
.ui-accordion-content-active{
	overflow: visible;
}
.ie7 .ui-accordion-content-active{
	overflow: hidden !important;
	position: relative;
}
.ui-expand-collapse-toggle-before,
.ui-expand-collapse-toggle-after{
	display: block;
	text-align: right;
	font-size: 85%;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}
.ui-expand-collapse-toggle-before .ui-icon,
.ui-expand-collapse-toggle-after .ui-icon{
	right:2px;
	left: auto;
	top:0;
}
.ui-expand-collapse-toggle-before{
	margin-top: 1.75em;
	margin-bottom: 0.875em;
}
.ui-expand-collapse-toggle-after{
	margin-top: -3.5em;
}
.ui-collapse-all{
	margin-left: -5px;
	padding-right:20px;
	position:relative;
	text-align: right;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity: 1;
	z-index: 3;
}
.ie7 .ui-collapse-all{
	padding-left: 4px;
}
.ui-expand-all {
	position:relative;
	padding-right:16px;
	margin-right: 10px;
	border-right: 1px solid #ADAFB2;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity: 1;	
}

.ui-expand-collapse-toggles-single .ui-expand-all{
	border: 0;
	z-index: 2;
}
.ie7 .ui-expand-collapse-toggles-single .ui-expand-all,
.ie8 .ui-expand-collapse-toggles-single .ui-expand-all{
	margin-right: 0;
}
.main .ui-accordion-content h4{
	padding-left: 10px;
}
.main .ui-accordion-content .line p{
	padding-left: 0;
	padding-right: 0;
}
.ui-accordion-content table{
	margin-left: 0;
}
.accordion-content p img{
	margin-left: -10px;
	margin-right: -10px;
}
/* .accordion-hierarchical ( extends .accordion) */
.ie7.no-js .accordion-hierarchical,
.ie8.no-js .accordion-hierarchical{
	margin-right: -20px;
	margin-left: -20px;
}

.accordion-hierarchical h3,
.accordion-hierarchical .ui-accordion-header{
	margin-top: -1px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom: 0;
	margin-bottom: 7px;
}
.accordion-hierarchical .ui-accordion-content{
	margin-top: -7px;
	margin-bottom: 7px;
}
.accordion-hierarchical .accordion-child-element{
	padding-left: 36px !important;
	border-top: 0;
	border-bottom: 0;
	margin-top: -7px;
	margin-bottom: 7px;
}
.ie7 .accordion-hierarchical .accordion-child-element{
	padding-left: 16px !important;
}
.main .accordion-child-element + div,
.accordion-child-element + div{
	padding-left: 20px;
	width: 450px;
	background: transparent url(../images/shared/child-accordion-bg.png) 0 0 repeat-y;
}
.accordion-child-element .ui-icon{
	margin-left: 20px;
}
.ui-expand-collapse-toggle-disabled{
	margin-right: -80px;
	opacity: 0;
	z-index: 1;
}

.ui-expand-collapse-toggle-disabled.ui-expand-all{
	margin-right: 20px;
}
.ie7 .ui-expand-collapse-toggle-disabled,
.ie8 .ui-expand-collapse-toggle-disabled{
	display: none;
}
.ie7.no-js .accordion-closed,
.ie8.no-js .accordion-closed,
.ie7.no-js .accordion,
.ie8.no-js .accordion{
	float: left;
}
.ie7.no-js .accordion-closed h3,
.ie8.no-js .accordion-closed h3,
.ie7.no-js .accordion h3,
.ie8.no-js .accordion h3,
.ie7.no-js .ui-accordion-content,
.ie8.no-js .ui-accordion-content,
.ie7.no-js .accordion-content,
.ie8.no-js .accordion-content{
	max-width: 470px;
	width:470px;
}
.ie7.no-js .accordion-expandable h3,
.ie8.no-js .accordion-expandable h3,
.ie7.no-js .accordion-closed h3,
.ie8.no-js .accordion-closed h3,
.ie7.no-js .accordion h3,
.ie8.no-js .accordion h3,
.ie7.no-js .ui-accordion-content p,
.ie8.no-js .ui-accordion-content p,
.ie7.no-js .accordion-content p,
.ie8.no-js .accordion-content p{
	margin-left: 0px;
}

.ie7.no-js .leftCol .accordion h3,
.ie8.no-js .leftCol .accordion h3,
.ie7.no-js .leftCol .ui-accordion-content,
.ie8.no-js .leftCol .ui-accordion-content,
.ie7.no-js .leftCol .accordion-content,
.ie8.no-js .leftCol .accordion-content,
.ie7.no-js .rightCol .accordion h3,
.ie8.no-js .rightCol .accordion h3,
.ie7.no-js .rightCol .ui-accordion-content,
.ie8.no-js .rightCol .ui-accordion-content,
.ie7.no-js .rightCol .accordion-content,
.ie8.no-js .rightCol .accordion-content{
	width:auto;
	margin-left: 0;
}

