/*!
*	Buttons
*/
.ui-helper-hidden-accessible{
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px 1px 1px 1px);
	position: absolute !important;
}
.js .ui-buttonset{
	font-size: 93%;	
	line-height: 1.5em;
	margin: 0.75em 0 0 10px;
	padding: 1px 0.4em 1px 1px;
	border: 1px solid #e2e2e2;
	background: #cccccc;
	float: left;
	
}
.js .ui-buttonset input{
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px 1px 1px 1px);
	position: absolute !important;	
}
.js .ui-buttonset label,
.ui-button {
	display:inline-block;
	position:relative;
	margin-right:.1em;
	text-decoration:none!important;
	cursor:pointer;
	text-align:center;
	zoom:1;
	overflow:visible;
	padding: 0.5em;
	background: #f1f1f1;
	color: #ADAFB2;
	margin: 0 -0.3em 0 0;
}
.no-js .ui-buttonset label{
	float: left;
	margin: 0 10px 0 0
}
.no-js .ui-buttonset input[type="radio"]{
	float: left
}
.ui-button .ui-button-text{
	display: block;
}
.js .ui-buttonset .ui-state-active, 
.js .ui-buttonset .ui-widget-content .ui-state-active{
	background: #ADAFB2 url(../images/shared/btn_bg.jpg) 0 -1px repeat-x;
	text-shadow: 0px 0px 3px #888; 
	color: #fff;
}
.ui-button-text-icon-primary .ui-button-text{
	padding-left: 16px;
}
.ui-button-text-icon-primary .ui-button-icon-primary{
	top:0.5em;
	left: 3px;
}

.ui-icon-rss{
	background-position: -160px 0px;
}
.ui-icon-e-mail{
	background-position:  -176px 0px;
}
.ui-icon-rss:hover{
	background-position: -160px -16px ;
}
.ui-icon-e-mail:hover{
	background-position: -176px -16px ;
}
.ui-icon-grid{
	background-position: 0px -64px;
}
.ui-buttonset .ui-state-active .ui-icon-grid{
	background-position: 0px -80px;
}
.ui-icon-list{
	background-position: -16px -64px;
}
.ui-buttonset .ui-state-active .ui-icon-list{
	background-position: -16px -80px;
}
.ui-icon-day{
	background-position: -32px -64px;
}
.ui-buttonset .ui-state-active .ui-icon-day{
	background-position: -32px -80px;
}
.ui-icon-week{
	background-position: -48px -64px;
}
.ui-buttonset .ui-state-active .ui-icon-week{
	background-position: -48px -80px;
}
.ui-icon-month{
	background-position: -64px -64px;
}
.ui-buttonset .ui-state-active .ui-icon-month{
	background-position: -64px -80px;
}
/*
.ui-buttonset-grid
.ui-buttonset-list
.ui-buttonset-day
.ui-buttonset-week
.ui-buttonset-month
*/