/*
.normalize-height
{
    height:auto !important;
}

.navbar {
    overflow: hidden
}

#slides {
    display: none
}

.container {
    margin: 0 auto
}
    
.captions
{
    margin: 0 !important;
    padding: 1.636em 10px 0.75em !important;
    background: #fff !important;
    color:#005DAA !important;
}
.slidesjs-navigation {
    margin-top:3px;
}
    
.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
    background: none !important;
    padding-left: 16px;
}

.slidesjs-pagination li a {
    display: block;
}

a.slidesjs-next,
a.slidesjs-previous,
.slidesjs-pagination-item a{
	background-color:transparent !important;
	background-image:url(../images/shared/icons-sprite.png) !important;
	background-repeat:no-repeat !important;
	width: 16px !important;
	height: 16px !important;
	cursor:pointer !important;
	padding-top:0 !important;
	margin:0 !important;
}
.slidesjs-pagination-item  
{
    margin:0 !important;
    padding:0 !important;
}
.slidesjs-pagination-item a {
	background-position:  -112px -64px !important;	
}
.slidesjs-pagination-item a:hover  {
	background-position: -112px -96px !important;	
}
.slidesjs-pagination-item a.active {
	background-position:  -112px -80px !important;
	cursor:default !important;
}
.slidesjs-next {
    float:right;
	background-position: -80px -64px !important;
    margin-right: 5px;
}
.slidesjs-next:hover {
	background-position:  -80px -94px !important;
}
.slidesjs-previous 
{
    float:right;
	background-position: -96px -64px !important;
    margin-right: 5px;
}
.slidesjs-previous:hover {
	background-position: -96px -94px;
}
.slidesjs-pagination {
    margin: 0 !important;
    padding:0 !important;
    float: right;
    list-style: none;
        
}   
.slidesjs-pagination {
    margin: 0 !important;
    padding:0 !important;
}   
.slidesjs-controlwrapper 
{
    position:absolute;
    top:10px;
    right:10px;
    z-index:100000;
}  
*/